<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <style type='text/css'>
        * { font-family: 'Roboto'; }

        code { font-family: 'Source Code Pro'; }

        body {
            color: #333;
        }

        ul {
            margin: auto;
        }

        table {
            font-size: 0.83em;
            display: block;
            width: 100%;
            overflow: auto;
            border-spacing: 0;
            border-collapse: collapse;
        }

        table tr:nth-child(2n) {
            background-color: #f8f8f8;
        }

        table tr {
            background-color: #fff;
            border-top: 1px solid #ccc;
        }

        table th {
            padding: 6px 13px;
            border: 1px solid #ddd;
            font-weight: bold;
        }

        table td {
            padding: 6px 13px;
            border: 1px solid #ddd;
        }

        pre {
            padding: 4px;
            overflow: auto;
            font-size: 85%;
            background-color: #f7f7f7;
            border-radius: 3px;
        }

        code {
            font-size: 85%;
            overflow: auto;
            background-color: #f7f7f7;
            border-radius: 3px;
        }

        pre code {
            overflow: auto;
            font-size: 75%;
            background-color: #f7f7f7;
            border-radius: 3px;
        }
    </style>
</head>
<body>
    {{content}}
</body>
</html>